#Systemd moonraker Service

[Unit]
Description=Moonraker provides Web API for klipper
Documentation=https://moonraker.readthedocs.io/en/latest/
After=network.target klipper.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
RemainAfterExit=yes
ExecStart=/home/{{ansible_user}}/moonraker-env/bin/python /home/{{ansible_user}}/moonraker/moonraker/moonraker.py -l /home/{{ansible_user}}/klipper_logs/moonraker.log -c /home/{{ansible_user}}/klipper_config/moonraker.conf
Restart=always
RestartSec=10